In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if(a>b)and(a>c):
    print("a is greater")
elif(b>a)and(b>c):
    print("b is greater")
else:
    print("c is greater")

In [1]:
a=input("enter the name")
for i in range (10):
    print(a)

enter the namegitam
gitam
gitam
gitam
gitam
gitam
gitam
gitam
gitam
gitam
gitam

In [ ]:
a=int(input("enter the year"))
if(a%4==0) and (a%100==0):
    print("year is the leap year",a)
else:
    print("not a leap year ")

In [10]:
a=input("enter name")
x=0
while(x<10):
     print(a)
     x=x+1

enter namea
a
a
a
a
a
a
a
a
a
a

In [36]:
a=int(input("enter the number"))
for i in range (a+1):
    if(i%2==1):
        print(i)

enter the number10
1
3
5
7
9

In [37]:
a=int(input("enter the number"))
sum=0
for i in range (a+1):
    if(i%2==0):
        print(i) 
        sum=sum+i
        
print("sum is ",+sum)

enter the number10
0
2
4
6
8
10
sum is  30

In [88]:
a=int(input("enter the number"))
rev=0
while a!=0:
    x=a%10
    rev=(rev*10)+x
    a=a//10

print(rev)

enter the number123
321

In [4]:
def add(n):
    return
add(246810)

In [5]:
1+2**3/4*5

11.0

In [9]:
numbers=[2, 3, 4]
print(numbers)

[2, 3, 4]

In [2]:
def addevennumbers(n):
    sum=0
    while n!=0:
        a=n%10
        if n%2==0:
            sum=sum+a
        n=n//10
    return(sum)
addevennumbers(int(input("enter")))

enter123456798

20

In [1]:
def printlarge(n):
    return
printlarge(123456)

In [2]:
def large(n):
    large=0
    while n!=0:
        a=n%10
        if large<a:
            large=a
        n=n//10
    return(large)
large(int(input("enter")))

enter18975597

9

In [7]:
def reverse(start,end):
    for i in range (end,start-1,-1):
        print(i,end="    ")
    return
reverse(1,10)

10    9    8    7    6    5    4    3    2    1

In [46]:
def printnaturalnumbes(n):
    for i in range (1,n+1):
         print(i)
    return
    
printnaturalnumbes(int(input("enter the nunber")))

enter the nunber10
1
2
3
4
5
6
7
8
9
10

In [35]:
def printseries(lb,ub):
    for i in range (lb,ub+1):
        print(i)
    return
printseries(10,20)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
<img src= "   ">

In [7]:
def ispalindrome(a):
    rev=0
    buffer=a
    while a!=0:
        x=a%10
        rev=(rev*10)+x
        a=a//10
    if buffer==rev:
        return "yes"
    else:
        return "no"
print(ispalindrome(123456))

print(ispalindrome(a1))

no
yes

In [4]:
def factorial(n):
    for i in range (1,n+1):
        if n%i==0:
            print(i,end="  ")    
    return
factorial(12)

1  2  3  4  6  12

In [35]:
def isprime(n):
   # flag = True
    for i in range (2,n//2):
        if n%i==0:
    return i
isprime(10)

IndentationError: expected an indented block (<ipython-input-35-3c66c03fc83e>, line 5)

In [60]:
def prime(n):
    while n!=0:
        for i in range (1,n//2):
            if n%i==0:
                return i
isprime(20)

2  4  5

9

In [38]:
def fact(a):
    while a!=0:
        sum=0
        rev=0
        x=a%10
        rev=(rev*10)+x
        a=a//10
        for i in range (rev):
          
            while i!=0:
                x=rev*i
                rev=rev-1
                sum=sum+x
        return (sum)
    return (a)
fact(a)

NameError: name 'a' is not defined

In [47]:
def factorial(n):
    fact=1
    for i in range (2,n+1):
        fact *=i
    return (fact)
def digitsum(n):
    sum=0
    buffer =n
    while n!=0:
        r = n%10
        sum += factorial(r)
        n=n//10
    if sum == buffer:
        return  "yes"
    else:
        return  " no"
    return
print(digitsum(145))

yes

In [57]:
def palindrome(n):
       rev=0
        temp=n
        count=0
    while n!=0:
           x=n%10 
        rev=(rev*10)+x
        n=n//10
            if rev==n:
                count +=1
                print(count)
        return (rev)
palindrome(121)

0

In [143]:
def palindrome(n):
    rev=0 
    temp=n
    count=0
    while n!=0:
        x=n%10 
        rev=(rev*10)+x
        n=n//10
        if rev==n:
                count +=1
                if temp == rev:
                    print(rev)
                else:
                    print("error")
        print(count)
        return 
palindrome(11)

error
1

In [6]:
#palindrome
def ispalindrome(n):
   rev=0
   buffer=n
   while n!=0:
       r=n%10
       rev=rev*10+r
       n=n//10
   if rev==buffer:
       return True
   else:
       return False
def countpalindrome(x,y):
   cnt=0
   while x!=y:
       if ispalindrome(x)==True:
           cnt=cnt+1
       x=x+1
   return cnt
countpalindrome(1,10)

9

In [20]:
def fact(n):
    sum=0
    for i in range (1,n):
        if n%i==0:
            sum=sum+i
    if(sum==n):
        print("perfectnumber")
    else:
        print("not a perfectnumber")
    return 
fact(int(input("enter ")))

enter 28
perfectnumber

In [2]:
def upper(x):
    for i in range(len(x)) :
        if ord (x[i])>=65 and ord (x[i])<=90:
            print(x[i],end="   " )
    return
upper("pyThoN")

T   N

In [1]:
a,b,c = range(1,12,4)
print(a,b,c)

1 5 9

In [23]:
s1="python"
print(s1[0])
print(s1[0:2])
print(s1[-1])
print(s1[:2])
print(s1[2:])
print(s1[-3:])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[-1:-3:-1])
print(s1[::2])
print(s1[::3])
print(s1[::-1])

p
py
n
py
thon
hon
ytho
h
no
pto
ph
nohtyp

In [55]:
def upper(x):
    for i in range(len(x)) :
        if ord (x[i])>=65 and ord (x[i])<=90:
            print(x[i],end="   " )
    if ord (x[i]>=48 and ord (x[i])<=57:
            print(x[i],end="    ")
    return
upper("yyyy")

SyntaxError: invalid syntax (<ipython-input-55-e4967c343188>, line 5)

In [41]:
def findcount(str):
    cntupper = 0
    cntlower = 0
    for i in range (len(str)):
        if ord (str[i])>=65 and ord (str[i])<=90:
            cntupper = cntupper + 1
        elif ord (str[i])>=97 and ord (str[i])<=122:
            cntlower=cntlower + 1
    if cntlower == cntupper:
        print("same count")
    else:
        print ("programming")
findcount("pYtHon")

programming

In [61]:
def extra(str) :
    
    for i in range (len(str)):
        if ord (str[i])>=48 and ord (str[i])<=57:
            return
        print(str[i], end ="  ")
extra("sai")

s  a  i

In [31]:
def extra(str) :
    sum = 0
    for i in range (len(str)):
        if ord (str[i])>=48 and ord (str[i])<=57:
            sum = sum+ (ord(str[i])-48)
    return sum
extra(input("  "))

  456

15

In [38]:
a= input("enter a name")
str1=str.upper(a)
print(str1)

enter a namesai
SAI

In [44]:
def word(s):
    spacecount=0
    for i in range (len(s)):
        if ord(s[n])==32:
            spacecount+=1
        if spacecount ==1:
            if ord(s[i])>=65 and ord(s[i])<=90:
                print(s[i],end=" ")
            elif ord(s[i])>=97 and ord (s[i])<=122:
                print(chr(ord(s[i])-32),end= "    ")
        if spacecount ==2:
            break
    return
word("python made easy")

NameError: name 'n' is not defined

In [45]:
def string(s):
    if s==s[-1::-1]:
        return True
    else:
        return False
    return
string('abcde')

False

In [46]:
x ='gitam  engineering college'
print(x[len(x)::-5])

eoii g

In [3]:
list1 = ['1', '2','3','4','5']
list2 = ["gitam"," hyderabad","rudraram"]
list =(list1+list2)
print(list)

['1', '2', '3', '4', '5', 'gitam', ' hyderabad', 'rudraram']

In [171]:
list1 = ['1', '2','3','4','5']
list2 = ['gitam',' hyderabad','rudraram']
list1[2] =4 
del list1[2]
print(list2)
list1[2:5]

['gitam', ' hyderabad', 'rudraram']

['4', '5']

In [26]:
list1 = ['1', '2','3','4','5']
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
#print(list1[5])
print(list1[1:1])
print(list1[1:])
print(list1[1:4])

['1', '2', '3', '4', '5']
1
2
3
4
5
[]
['2', '3', '4', '5']
['2', '3', '4']

In [59]:
list1 = [1,2,3,4,5]
print(len(list1))
print(list1*2)
print("5" in list1)
for i in range (len(list1)):
    print(list1[i],end="   ")

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
False
1   2   3   4   5

In [68]:
list1 
print(min(list1))
print(max(list1))
print(sum(list1))
print(sum(list1)//len(list1))
print(sum(list1[1:2])//len(list1[1::2]))
print(list1[1::3])

1
5
15
3
1
[2, 5]

In [81]:
list1
list1.append(9)
print(list1)
list1.count(7)

[1, 2, 3, 4, 5, 7, 7, 7, 7, 7, 7, 7, 9]

7

In [86]:
list1
list1.insert(1,5)
print(list1)

[1, 5, 5, 2, 3, 4, 5, 7, 7, 7, 7, 7, 7, 7, 9]

In [91]:
list1=[1,65,78,2,3,4,5]
list1.pop()
print(list1)

[1, 65, 78, 2, 3, 4]

In [93]:
list1
list1.sort
print(list1)
list1.pop(1)

[1, 78, 2, 3, 4]

78

In [105]:
list1= [1,2,3,4,5]
print(list1[-1:0:-2])

[5, 3]

In [112]:
def list(list2):
    list2.sort()
    return(list2[-2])

list2=[1,2,3,4,5,6,7,8,9]
list(list2)

8

In [119]:
def list(list2):
    list2.sort()
    return(list2[-2])
def genericlist(list2,n):
    list2.sort()
    return list2[-n]
list2=[1,2,3,4,5,7,8,9]
genericlist(list2,1)

9

In [125]:
def linear(list,tar):
    for i in range (len(list)):
        if list[i]== tar:
            return i
    return -1
list =[1,19,6,2,8,3 ]
linear(list,2)

3

In [138]:
def linearsearch(li,temp):
    for x in range(len(li)):
        if li[x]==temp:
            print(x,end="")
    return x
li=[1,5,9,6,5,1,2,5,9,5,9]    
linearsearch(li,5)

1479

10

In [155]:
def linearsearch(list,temp):
    for i in range (len(list)):
         if list[i]==temp:
            return i
    return -1
list= [1,5,78,2,45,96,76]
linearsearch(list,96)

-1

In [161]:
def linearsearch(list,temp):
    for i in range (len(list)):
         if list[i]==temp:
            j=0
            while j!=i+1:
                print("$",end="")
                j+=1
                print(end="  ")
    return
list= [1,5,76,2,45,96,76]
linearsearch(list,76)

$  $  $  $  $  $  $  $  $  $

In [168]:
def form(list):
    sum=0
    for i in range (len(list)):
        if list[i]%3==0 and list[i]%5==0:
            sum = sum+list[i]
    return sum
list =[1,15,30,45,6,2]
form(list)

90

In [ ]:
def numbers(list):
    for i in range (len(list)):
        if list[i]==0 and i=list[i]-1
            print(list[i])
        else

In [1]:
li=[2,5,6,7,4,3,8]
def iseven(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        elif li[x-1]%2==0 and li[x+1]%2==0:
            print(li[x],end=" ")
    return
iseven(li)

2 5 7 3 8

In [3]:
li=[2,5,7,3,8]
def list1(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        else:
            print(li[x-1]*li[x+1],end=" ") 
    return 
list1(li)

2 14 15 56 8

In [3]:
def numbers(n):
    list =[]
    while n!=0:
        r= n%10
        list.append(r)
        n=n//10
    list.reverse()
    return list
numbers(14569)

[1, 4, 5, 6, 9]

In [15]:
def count(s,c):
    cnt=0
    for ch in s:
        if ch == c:
            cnt+=1
    return cnt
count("pythyon programming","o")

2

In [17]:
def string(s):
    list = s.split()
    numberslist=[]
    for i in list:
        numberslist.append(int(i))
    return numberslist
s="1 2 3 4 5 6 "
string(s)

[1, 2, 3, 4, 5, 6]

In [23]:
## sorting

def bubble(list):
    for i in range (len(list)-1):
        for j in range (len(list)-1):
            if list[j]>list[j+1]:
                list[j],list[j+1]= list[j+1],list[j]
                    
    return( list)
list=[19,17,8,1]
bubble(list)

[1, 8, 17, 19]

In [2]:

li=[1,8,7,4,6]
def iseven(li):
   for x in range(len(li)):
       while li[x]%2==0:
           print(li[x],end=" ")
           break
   return
iseven(li)

8 4 6

In [3]:

li=[1,2,3,4,5,6]
def square(li):
   for x in range(len(li)):
       if li[x]%2==0:
           print(li[x]**2,end=" ")
       else:
           print(li[x],end=" ")
   return
square(li)

1 4 3 16 5 36

In [4]:

li=[15,19,12,16,4]
def addprevious(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        else:
            print(li[x-1]+li[x],end=" ")
    return
addprevious(li)

15 34 31 28 4

In [6]:
a = {"name","clg","section","class"}
print(a)

{'class', 'clg', 'section', 'name'}

In [57]:
a = {"name":"gitam","section":"09"}
del a['section']
print(a)
a.keys()
#a.items()
#a.values()

{'name': 'gitam'}

dict_keys(['name'])

In [30]:
t1=(1,2,3,4,5,6,7,8,9,0)
t1
type(t1)

tuple

### contact application
-add contact
-search the contact
-list all contacts
     name1:phone1
     name2:phone2
-modify the contact
-remove the contact
-import the contact

In [41]:
contact={  }
def addcontact(name,phone):
    if name not in contact:
        contact[name] =phone
        print("contact is added to mobile")
    else:
        print("contacts in mobiles are already exists")
    return
addcontact('sam','123546879')

contact is added to mobile

In [51]:

def addcontact(name,phone):
    if name not in contact:
        print(name,":",contact[name])
    else:
        print("%s does nt exists" %name)
    return
addcontact('sam','123546879')

sam does nt exists

In [56]:
#import same contacts
#merge the contacts with the existing one
def importcontact(newcontact):
    contact.update(newcontact)
    print(len(newcontact.keys()),"contacts added successfully")
    return
newcontact={'pqr':123456,'abc':789456}
importcontact(newcontact)

2 contacts added successfully

In [59]:
def delete(name):
    if name in contact:
        del contact[name]
        print(name," deleted successfully")
    else:
        print(name,"not exits")
    return
delete('sam')
contact.keys()

sam not exits

dict_keys(['pqr', 'abc'])

In [61]:
def delete(name,phone):
    if name in contact:
        contact[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
delete('pqr',123456)
delete('ajay',543543654)

pqr updated successfully
ajay not exists

In [62]:

  
def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1 
    for i in range(2, n):   
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1):   
        print(a[i],end=" ")  
n = 5 
reverseFibonacci(n)

3 2 1 1 0

In [73]:
def fib(n):
    a[0]=0
    a[1]=1
    for i in range (2,n):
        c=a[0]+a[1]
        a[0]=a[1]
        a[1]=c
    return
fib(9)

In [96]:

def sum(n):
    sum=0
    while n!=0:
        for i in range (len(list(n))):
            if i != len(list[n]):
                
                sum=sum+n
                print(sum)
            else:
                print("cannot perform")
        return -1
    return 
n=[1,2,2,3,5,7,3]

In [95]:
s1="water"
s2="highr"
for i in range(len(s1)):
    print(s1[i],s2[i])

w h
a i
t g
e h
r r

In [105]:
list=["python","programming"]
print("%s %s" % (list[0],list[1]))

python programming

In [108]:
print(" {0} {1}". format ( list[0],list[1]))

 python programming

In [112]:
list =[1,2,3,4,5]
print("%d %d %d %d %d " % (list[0],list[1],list[2],list[3],list[4]))

1 2 3 4 5

### string functions
upper()== will convert into upper case
lower()== will convert into lower case

In [122]:
st =" giTam"
st.upper()
st.lower()
st.upper()

False

In [125]:
st =" Gitam"

st.istitle()

True

In [135]:
st ="gitam"
sr ="sairam15"
print(st.isalpha())
print(sr.isalpha())

True
False

In [138]:
st = "    "
st1= " g i t a m"
print(st.isspace())
print(st1.isspace())

True
False

###string methods
joint

In [139]:
st= "python programming "
print(",".join(st))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g,

In [141]:
li=['gitam','university']
print(",".join(li))

gitam,university

In [149]:
li= "gitam university"
print(li.split('i'))
print(len(li))

['g', 'tam un', 'vers', 'ty']
16

In [3]:
li="gitam university"
l1 =list(li)
print(l1)

['g', 'i', 't', 'a', 'm', ' ', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']

In [1]:
def number(n,s):
    ns=list(s)
    su=0
    print(ns)
    for i in range(n):
        count=ns.count(ns[i])
        if count==1:
            su=su+int(ns[i])
    return su
s="123352"
number(6,s)

['1', '2', '3', '3', '5', '2']

6

In [7]:
s="123352"
s.count(s[2])

2

In [5]:
def power(n):
    #while n!=0:
    for i in range(0,n+1):
        p=3**i
        print(p)
    return
power(9)

1
3
9
27
81
243
729
2187
6561
19683

In [6]:
def power(n):
    #while n!=0:
    for i in range(0,n+1):
        p=2**i
        print(p)
    return
power(9)

1
2
4
8
16
32
64
128
256
512

In [9]:

def ser(n):
   a=[0]*n
   a[0]=1
   a[1]=3
   a[2]=4
   for i in range(3,n):
       a[i]=a[i-3]+a[i-2]+a[i-1]
   for x in range(0,n):     
       print(a[x],end=" ")
   return 
ser(12)

1 3 4 8 15 27 50 92 169 311 572 1052

In [52]:
def power(n):
  
    #while n!=0:
    for i in range(1,n+1):
        p=(i**2)-1
        print(p,end=" ")
    return
power(9)# 1 3 8 15 27 50 92 169 311

0 3 8 15 24 35 48 63 80

In [45]:
def num(n):
    for i in range (0,n+1):
        p=i+1
        print(p,end="!+")
    return
num(9)

1!+2!+3!+4!+5!+6!+7!+8!+9!+10!+

In [53]:
8=2**2+2**2
15=3**2+3*2
27=4**2+4*2
5**2+5*2

SyntaxError: can't assign to literal (<ipython-input-53-54ff31216a18>, line 1)

In [54]:
import math
math.floor(123.456)

123

In [56]:
import random
def rand(x,n):
    for i in range (x,n+1):
        print(random.randint(x,n),end=" ")
    return
rand(1,100)

27 91 24 30 98 80 75 30 43 24 83 21 79 11 47 55 6 33 49 11 98 66 97 16 17 88 65 70 8 53 54 35 73 94 64 49 20 56 9 98 5 58 5 77 51 77 62 22 19 58 39 3 13 34 63 26 58 29 62 73 9 76 39 22 93 90 25 4 63 80 71 61 84 87 99 87 42 2 95 39 45 7 70 40 65 12 13 75 63 54 57 96 28 26 72 87 77 41 29 81

In [3]:
import random
def randomval(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end="   ")
    return 
randomval(10,0,100)

65   29   23   53   6   95   30   70   84   18

In [1]:
i=0
while i<5:
    print(i)
    i+=1
    if i==3:
        break
    else:
        print(0)

0
0
1
0
2

In [3]:
str1='gitam'
str2='hyderabad'
str=str1+str2
print(str)

gitamhyderabad

In [8]:
def character(s,M):
    p=0
    for i in s:
        if i==M:
            s.pop(M)
        else:
            p=i
            print(i,end=" ")
    return
chracter('sairam','m')

NameError: name 'chracter' is not defined